@media screen and (max-width: 800px) {
  .main-login {
    width: fit-content;
  }
}
@media screen and (max-width: 1130px) {
  .side1 {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .side1 {
    width: 70vw;
    border-radius: 22px;
    height: auto;
  }
}

.side1 {
  width: 40vw;
  padding: 30px;
  min-height: 65vh;
  /* background-color: #044E83; */
  background-image: linear-gradient(
    150.74deg,
    #ffc8e3 1.07%,
    rgba(248, 199, 234, 0.779514) 22.96%,
    rgba(239, 203, 227, 0.711805) 37.74%,
    rgba(69, 146, 253, 0.266012) 81.21%,
    rgba(0, 120, 234, 0.1602) 91.53%,
    rgba(66, 169, 249, 0.19) 98.92%,
    rgba(38, 134, 200, 0.0842839) 98.93%,
    rgba(152, 198, 224, 0.37) 98.96%,
    rgba(176, 227, 255, 0.378155) 99.65%,
    rgba(9, 129, 197, 0) 100.35%
  );
  /* filter: drop-shadow(0px 4px 31px rgba(169, 162, 162, 0.25)); */
  border-radius: 22px;
}

.textnew {
    font-family: 'Poppins', sans-serif;
  }