.hrjobs {
  padding: 40px 20px;
  border-radius: 10px;
  /* background-color: rgb(12, 154, 201); */
}

.textform {
  font-family: "Inter", sans-serif;
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #2390f7 0%,
    #f40dcd 29%,
    #edf75c 67%,
    #63bef7 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

.textnew {
  font-family: "Poppins", sans-serif;
}

.gridset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flexset {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 570px) {
  .flexset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .gridset {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 800px) {
  .hrjobs {
    padding: 40px 7px;
    border-radius: 10px;
    /* background-color: rgb(12, 154, 201); */
  }
}
