@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400&display=swap');
/* @import "rsuite/dist/rsuite.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}


/*  Carousel CSS */
.slider{
  height:250px;
  margin:auto ;
  position:relative;
  width:90%;
  display:grid;
  place-items:center;
  overflow:hidden;
}
.slide_track{
  display:flex;
  width:calc(250px*16);
  animation: scroll 40s linear infinite;
}
.slide_track:hover{
  animation-play-state: paused;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(calc(-250px * 8));
  }
}
.slide{
  height:200px;
  width:250px;
  display:flex;
  align-items:center;
  padding:15px;
  perspective: 100px;
}
.mentor_body{
  display: grid;
  place-items:center;
}

/* .imgclass{
  width:100%;
  transition: transform 1s;
} */
img:hover{
  transform:translateZ(20px);
}
.slider::before,
.slider::after{
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0% ,rgba(255,255,255,0) 100%);
  content:'';
  height:100%;
  position:absolute;
  width:15%;
  z-index:2;
} 

.slider::before{
  left:0;
  top:0;
}

 .slider::after{
  right:0;
  top:0;
  transform: rotateZ(180deg);
}

/* Carousel CSS end */
@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}
/*  Salary expetetion slider */

.custom-slider {
  width: 100%;
  height: 30px;
  background: #eee;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;
}
.inputcontainer{
  margin-top:3rem;
}
.inputbox{
  padding:1em 1em 1em 2em;
  width:40vw;
  border-radius:10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.btn1{
  padding:0.2em 0.8em;
  margin-left:-7.5vw;
  margin-right:2vw;
  color:white;
  border-radius:10px;
  background: rgba(0, 178, 255, 0.68);
}
.btn2{
  padding:0.2em 1em;
  border-radius:10px;
  background: rgba(0, 178, 255, 0.68);
  color:white;
  margin-right:1vw;
}
.btn3{
  padding:0.2em 1em;
  border-radius:10px;
  background: rgba(0, 178, 255, 0.68);
  color:white;
}
.btn4{
  background-color: white;
  color: rgba(0, 178, 255, 0.68);
  width:98%;
  margin-top:18vh;
  padding:0.4em 3em;
  border-radius:20px;
}
.giphy{
  margin-top:3vh;
  margin-left:10vh;
  width:20vw;
  border-radius:14px;
}
.main-content{
  display:flex;
}
.jobpos{
  margin-top:3rem;
}
.salary{
  width:88%;
  background-color:white;
  color:grey;
  padding:0.4em 1em;
  border-radius:5px;
  margin:auto;
}
.filterbox{
  margin-top:-8vh;
  padding:1em;
  border-radius: 15px;
  background-color:#AFDBF5;
  min-height:45vh;
  width:18vw;
}
.arrange{
  margin-left:11vh;
  margin-top:3vh;
  display:grid;
  gap:25px;
  grid-template-columns: repeat(2,1fr);
}
.headerpos{
  display:flex;
  justify-content:space-between;
}
.heading{
  margin-top:3rem;
  color:deepskyblue;
  font-weight:bold;
  text-align:center;
  margin-left: -12vw;
  font-size:22px;
}
.btn6{
  margin-left:2vw;
  font-size:14px;
  font-weight:bold;
  color:grey;
}
.btn6:hover{
  color:deepskyblue;
}
.sortpos{
  display:flex;
  justify-content:end;
  margin-top:1rem;
  margin-right:1rem;
}
.buttonpos{
  display:flex;
  justify-content:end;
  margin-top:2rem;
}
@media screen and (max-width:1130px) {
  .sortpos{
   opacity:0;
  }
  .heading{
    opacity:0;
  }
  .btn1{
    margin-left: -15vh;
  }
  .arrange{
    grid-template-columns: repeat(1,1fr);
    margin:auto;
  }
  .filterbox{
    margin-top:-9vh;
    width:28vw;
  }
  .buttonpos{
    justify-content:center;
    margin-left:25.5vw;
  }
}
@media screen and (max-width:800px) {
  .headerpos{
    display:block;
  }
  .inputbox{
    width:85vw;
  }
  .inputcontainer{
    margin:3rem auto;
  }
  .giphy{
    margin:5vh auto 8vh auto;
    width:60vw;
  }
  .jobpos{
    margin:3rem auto;
  }
  .main-content{
    display:block;
  }
  .arrange{
    margin-left:0;
  }
  .filterbox{
    margin:-15vh auto 10vh auto;
    width:70vw;
  }
  .btn4{
    margin-top:12vh;
  }
  .btn2,.btn3{
    text-align:center;
    margin-left:1vh;
  }
}
@media screen and (max-width:350px) {
  .inputbox{
    width:98%;
  }
  .giphy{
    width:90vw;
  }
  .filterbox{
    width:85vw;
  }
}
.wave{
  position: absolute;
  bottom:60;
  left:0;
  width: 100.7%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}
.menu1{
  margin:0 1vw;
  font-family: 'Ubuntu', sans-serif;
 }
 .menu2{
   margin:0 1vw;
   font-family: 'Ubuntu', sans-serif;
 }
 .menu3{
   margin:0 1vw;
   font-family: 'Ubuntu', sans-serif;
 }
 .text{
  font-family: 'Ubuntu', sans-serif;
 }
/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.black_btn2 {
  @apply rounded-none border border-black bg-black py-2.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-base font-inter flex items-center justify-center;
}
.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}
.secondary_text {
    @apply mt-5 text-3xl font-bold leading-[0.75] text-black sm:text-4xl;
}
.heading_text {
  @apply text-xl font-bold leading-[0.55] text-black sm:text-2xl;
}
.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}