@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Ubuntu&display=swap');
/* @import "rsuite/dist/rsuite.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
html{
  scroll-behavior: smooth;
}
.main {
  width: 100vw;
  min-height: 100vh;
  background-color:rgb(9, 13, 52);
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

/* .main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
} */


/*  Carousel CSS */
/* .slider{
  height:250px;
  margin:auto ;
  position:relative;
  width:98%;
  display:grid;
  place-items:center;
  overflow:hidden;
}
.slide_track{
  display:flex;
  width:calc(250px*20);
  animation: scroll 40s linear infinite;
}
.slide_track:hover{
  animation-play-state: paused;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(calc(-250px * 6));
  }
}
.slide{
  height:100px;
  width:300px;
  display:flex;
  align-items:center;
  padding:15px;
  perspective: 100px;
}
.mentor_body{
  display: grid;
  place-items:center;
}

/* .imgclass{
  width:100%;
  transition: transform 1s;
} */
/* img:hover{
  transform:translateZ(20px);
}
.slider::before,
.slider::after{
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0% ,rgba(255,255,255,0) 100%);
  content:'';
  height:100%;
  position:absolute;
  width:25%;
  z-index:2;
} 

.slider::before{
  left:0;
  top:0;
}

 .slider::after{
  right:0;
  top:0;
  transform: rotateZ(180deg);
}/*
@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}
/*  Salary expetetion slider */
.slideshow {
  margin:10vh auto;
  overflow: hidden;
  max-width: 500px;
}
.lg{
  width:20px;
  height:20px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width:100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}
.pos{
  position:fixed;
  bottom:40px;
  right:0;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color:deepskyblue;
}
input::placeholder,textarea::placeholder{
  font-size:14px;
}
.displayprofile{
  display:flex;
  padding:3rem 3rem 0 3rem;
  gap:3rem;
}

.custom-slider {
  width: 100%;
  height: 30px;
  background: #eee;
  opacity: 0.8;
  outline: none;
  transition:0.3s;
  -webkit-appearance: none;
}
.half-ellipse1 {
  background: #32557f;
  width: 150px;
  height: 75px;
  border-radius: 50% / 0% 100% 0% 70%;
}
.databox{ 
  margin-top:10vh;	
	height: 40vh;
	color: deepskyblue;
	display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(320deg, #044E83 0%, rgba(4, 78, 131, 0.98) 10.32%, rgba(4, 78, 131, 0.97) 17.79%, rgba(4, 78, 131, 0.96) 27.13%, rgba(4, 78, 131, 0.95) 55.90%, rgba(9, 248, 85, 0.94) 100%);;
  position:relative;
}

.databox .filter{
	background: url('/assets/images/divback.png') no-repeat;
	background-size: fit;
	background-position:center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	opacity:0.1;
} 
.achievementbox{ 
  margin-top:10vh;	
	height: 72vh;
	color: deepskyblue;
	display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(260deg, #044E83 0%, rgba(4, 78, 131, 0.98) 10.32%, rgba(4, 78, 131, 0.97) 17.79%, rgba(4, 78, 131, 0.96) 27.13%, rgba(4, 78, 131, 0.95) 50.90%);;
  position:relative;
}

.achievementbox .filter1{
	background: url('/assets/images/divback.png') no-repeat;
	background-size:cover;
	background-position:center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	opacity:0.1;
} 
.milestones{
 display:grid;
 grid-template-columns: repeat(3,1fr);
}
.datamile1{
  background:linear-gradient(to bottom right,rgb(251, 76, 76),rgb(248, 86, 199));
  border-radius:10px;
  width:13rem;
} 
.datamile2{
  background:linear-gradient(to bottom right,rgb(24, 50, 252),rgb(25, 255, 98));
  border-radius:10px;
  width:13rem;
} 
.headingBox{
  display: flex;
  justify-content: space-evenly;
}
.data1{
  background:linear-gradient(to bottom right,rgb(251, 70, 203),rgb(249, 53, 89));
  border-radius:10px;
} 
.data2{
  background:linear-gradient(to bottom right,rgb(249, 65, 194),rgb(9, 106, 141));
  border-radius:10px;
} 
.data3{
  background:linear-gradient(to bottom right,rgb(55, 156, 251),rgb(230, 12, 245));
  border-radius:10px;
} 
.data4{
  background:linear-gradient(to bottom right,rgb(244, 96, 202),rgb(240, 22, 120));
  border-radius:10px;
} 

.inputcontainer{
  margin-top:3rem;
}
.inputbox{
  padding:1em 1em 1em 2em;
  width:40vw;
  border-radius:10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.btn1{
  padding:0.2em 0.8em;
  margin-left:-7.5vw;
  margin-right:2vw;
  color:white;
  border-radius:10px;
  background: rgba(0, 178, 255, 0.68);
}
.btn2{
  padding:0.2em 1.5em;
  border-radius:8px;
  color:white;
  margin-right:1vw;
}
.btn3{
  padding:0.2em 1.5em;
  border-radius:8px;
  color:white;
}
.btn4{
  background-color: white;
  color: rgba(0, 178, 255, 0.68);
  width:98%;
  margin-top:18vh;
  padding:0.4em 3em;
  border-radius:20px;
}
.giphy{

  margin-left:10vh;
  width:22vw;
  border-radius:40px;
}
.main-content{
  display:flex;
}
.jobpos{
  margin-top:3rem;
}
.salary{
  width:88%;
  background-color:white;
  color:grey;
  padding:0.4em 1em;
  border-radius:5px;
  margin:auto;
}
.filterbox{
  margin-top:-4vh;
  padding:2em 0.4em;
  border-radius: 15px;
  background-image: linear-gradient(150.74deg, rgba(69, 146, 253, 0.266012) 15.21%, rgba(248, 199, 234, 0.779514) 22.96%, rgba(239, 203, 227, 0.711805) 45.74%, rgba(0, 120, 234, 0.1602) 91.53%, rgba(66, 169, 249, 0.19) 98.92%, rgba(38, 134, 200, 0.0842839) 98.93%, rgba(152, 198, 224, 0.37) 98.96%, rgba(176, 227, 255, 0.378155) 99.65%, rgba(9, 129, 197, 0) 100.35%, #FFC8E3 1.07%);
  width:20vw;
}
.box6:hover,.box7:hover,.box8:hover,.box9:hover{
  transition: transform 0.3s ease-in;
}
.box6:hover,.box7:hover,.box8:hover,.box9:hover{
  transform:scale(1.1);
}
.appbox{
  display:flex;
  align-items:center;
  margin-top:2rem;
  margin-left:8rem;
}
.firstformbox{
  height:100vh;
  width:50%;
}
.formpos{
  background-color:rgb(240, 242, 244);
  padding:20px;
  margin:auto 0;
  border-radius:5px;
  margin-left: -15vw;
}
.leftmargin{
  margin-left: 9rem;
}
.rightmargin{
  margin-right: 9rem;
}
.circlepad1{
  padding:2rem 1.75rem;
  background:linear-gradient(to bottom right,rgb(82, 247, 99),rgb(63, 63, 251));
}
.circlepad2{
 padding:2rem 1.75rem;
 background:linear-gradient(to bottom right,rgb(82, 247, 99),rgb(63, 63, 251));

}
.circlepad3{
  background:linear-gradient(to bottom right,rgb(63, 63, 250),rgb(82,247,99));

}
.arrange{
  background-image: linear-gradient(150.74deg, rgba(69, 146, 253, 0.266012) 15.21%, rgba(248, 199, 234, 0.779514) 22.96%, rgba(239, 203, 227, 0.711805) 45.74%, rgba(0, 120, 234, 0.1602) 91.53%, rgba(66, 169, 249, 0.19) 98.92%, rgba(38, 134, 200, 0.0842839) 98.93%, rgba(152, 198, 224, 0.37) 98.96%, rgba(176, 227, 255, 0.378155) 99.65%, rgba(9, 129, 197, 0) 100.35%, #FFC8E3 1.07%);
  padding:20px;
  min-width:50vw;
  /* width:auto; */
  border-radius:20px;
  margin-left:18vh;
  margin-top:3vh;
  display:grid;
  gap:25px;
  grid-template-columns: repeat(2,1fr);
}
.alumnitop{
  display:flex;
  justify-content:space-evenly;
  background-color:rgb(130, 183, 248);
  color:white;
  border-radius:20px;
  padding:40px;
  margin-bottom:5vh;
}
.question{
  padding:0.2rem 1rem;
  margin:auto 2rem;
  text-align: left;
  min-width:60%;
  width:fit-content;
}
.options{
  padding:0.5rem 2rem;
  margin:0 2rem 0.5rem 2rem;
  text-align: left;
  width:25%;
}
.result{
  padding:0.5rem 2.5rem;
  margin:0.5rem 2rem;
  text-align: left;
  width:25%;
}
.hrjobs{
  padding:40px 20px;
  border-radius:10px;
  /* background-color: rgb(12, 154, 201); */
}
.headerpos{
  display:flex;
  justify-content:space-between;
}
.heading{
  margin-top:3rem;
  color:deepskyblue;
  font-weight:bold;
  text-align:center;
  margin-left:0vw;
  font-size:22px;
}
.heading1{
  margin-top:3rem;
  color:deepskyblue;
  font-weight:bold;
  text-align:center;
  margin-left:4vw;
  font-size:22px;
}
.btn6{
  margin-left:2vw;
  font-size:14px;
  color:white;
}
.btn6:hover{
  color:deepskyblue;
}
.sortpos{
  display:flex;
  justify-content:end;
  margin-top:1rem;
  margin-right:1rem;
}
.aboutbox{
  display:flex;
}
.alumnicardcontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:5vh auto 10vh auto;
}
.filtercontainer{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin-top:12px;
  margin-bottom:20px;
}
.buttonpos{
  display:flex;
  justify-content:end;
  margin-right:1vw;
  margin-top:2rem;
}
.coursebox{
  margin-top:3vh;
  display:flex;
  /* background-color:rgb(128, 175, 225); */
  padding:12px;
  border-radius:20px;
}
.resumedatabox{
  width:60%;
}
.founderimg{
  width:40vw;
  height:60vh;
  border-radius:10px;
  margin:auto 0;
  border-top:5px solid deepskyblue;
  border-left:5px solid deepskyblue;
}
.founderbox{
  display:flex;
}
.headingbox{
  /* background:rgb(51, 199, 236); */
  background: linear-gradient(260deg, #044E83 0%, rgba(4, 78, 131, 0.98) 10.32%, rgba(4, 78, 131, 0.97) 17.79%, rgba(4, 78, 131, 0.96) 27.13%, rgba(4, 78, 131, 0.95) 50.90%, rgba(26, 171, 120, 0.94) 99.86%);;
  padding:25px;
  
}
.startup{
  display:flex;
}
.hackathon{
  height:70vh;
  background-image:url("/assets/images/hackathonback.png");
  background-position:contain;
  background-repeat: no-repeat;
}
.hackathons{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:60px;
}
.adjust{
  width:60%;
}
.cardslide{
  height:80vh;
}
.achievements:hover{
  transition:transform 0.4s ease-in;
}
.achievements:hover{
  transform:rotate(2deg);
}
.mobilepara{
  width:40vw;
}
.courseimg{
  display:grid;
  grid-template-columns: repeat(2,1fr);
 }
 .side1{
  width:40vw;
  padding:30px;
  min-height:65vh;
  background-image: linear-gradient(150.74deg, #FFC8E3 1.07%, rgba(248, 199, 234, 0.779514) 22.96%, rgba(239, 203, 227, 0.711805) 37.74%, rgba(69, 146, 253, 0.266012) 81.21%, rgba(0, 120, 234, 0.1602) 91.53%, rgba(66, 169, 249, 0.19) 98.92%, rgba(38, 134, 200, 0.0842839) 98.93%, rgba(152, 198, 224, 0.37) 98.96%, rgba(176, 227, 255, 0.378155) 99.65%, rgba(9, 129, 197, 0) 100.35%);
  filter: drop-shadow(0px 4px 31px rgba(169, 162, 162, 0.25));
  border-radius: 22px;
 }
 .side2{
  display:flex;
  justify-content: center;
  align-items:center;
  width:25vw;
 }
 .otp{
  display:flex;
 }
 .phonewidth{
  width:100%;
 }
 .animate-charcter
 {
   background-image: linear-gradient(
     -225deg,
     #2390f7 0%,
     #58ec53 29%,
     #2297fd 67%,
     #21f870 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-emphasis-color:  transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 3s linear infinite;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
 :root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
}
.wrap {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  gap:100px;
  padding:30px;
  flex-wrap: wrap;
}
.message{
  margin-left: 10rem;
  margin-top: 6rem;
}
.flexBox{
  display:flex;
}
.item2{
  margin-left:1rem;
  width:50%;
}
.item1{
  width:50%;
}
.testimonial{
  display:flex;
  /* grid-template-columns: repeat(4,1fr);
  gap:3rem; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:80px;
  padding:5rem 8rem;
  margin:0 auto;
}
.containerslider {
  width: 90%;
  margin:10vh;
}

.cards-container {
  display: flex;
  border-radius: 6px;
  color: #333;
  background: #ebf1f6;
  padding: 1rem;
  overflow-x: auto;
  position: relative;
  &::-webkit-scrollbar{
    display:none;
  }
}
  
::-webkit-Scrollbar{
  width:5px; 
  height:5px;
	background: rgb(5,5,5);
}
::-webkit-Scrollbar-thumb{
	border-radius: 10px;
	background: #f4f4f5;
	box-shadow: inset 0 0 20px #e7fde9;
}
::-webkit-Scrollbar-track{
	border-radius: 10px;
}
.categorybox{
  /* display:grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 5rem;
}
.card {
  flex: 1 0 265px;
  box-shadow: 0 1px 1rem -4px #b5e1f4;
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.card img {
  width: 250px;
  height: 250px;
  object-fit:fit;
}

.card-content {
  padding: 1rem;
}

@media screen and (max-width: 625px) {
  .container {
    width: 100%
  }
  
  .cards-container {
    padding: .5rem;
  }
  
  .card {
    margin: .5rem;
  }
}
.box {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius:30px;
  /* border-top-right-radius:25px;
  border-bottom-left-radius:25px; */
  background:#29335c;
}
.box1 {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:30px;
  /* border-top-right-radius:25px;
  border-bottom-left-radius:25px; */
  background:#29335c;
}

.box:hover{
  transition:transform 0.4s ease-in-out;
}
.box:hover{
  transform:scale(0.9);
  z-index:10;
}

.box-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:10px;
}

.box-image {
  box-shadow: rgb(250, 103, 103) 0px 22px 70px 4px;
  margin:1vh 0;
  width: 140%;
  height:120px;
  border-radius:50%;
  object-fit:fit;
  object-position:center;
}
/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
    margin-left:14px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}
@media screen and (max-width:1130px) {
  .appbox{
    display:grid;
    margin:auto 5vw auto 10vw;
    gap:20px;
    grid-template-columns:repeat(2,1fr);
    justify-items: center;
  }
  .testimonial{
   gap:20px;
   padding:4rem 2rem;
  }
  .flexBox{
    display:block;
  }
  .item1,.item2{
    margin-left:0;
    width:100%;
  }
  .wrap{
    gap:20px;
  }
  .hide1{
    display:none;
  }
  .sortpos{
   opacity:0;
  }
  .heading,.heading1{
    opacity:0;
  }
  .achievementbox{
    height:50vh;
  }
  .btn1{
    margin-left: -15vh;
  }
  .arrange{
    grid-template-columns: repeat(2,1fr);
    margin-left:5vh;
    margin-top: auto;
    padding:8px;
    gap:8px;
  }
  .hackathons{
    grid-template-columns:repeat(1,1fr);
  }
  .question{
    padding:0.2rem 1rem;
    margin:auto 2rem;
    text-align: left;
    min-width:65%;
    width:fit-content;
  }
  .options{
    padding:0.5rem 2rem;
    margin:0 2rem 0.5rem 2rem;
    text-align: left;
    width:30%;
  }
  .result{
    padding:0.5rem 2.5rem;
    margin:0.5rem 2rem;
    text-align: left;
    width:30%;
  }
  .giphy{
    display:none;
  }
  .aboutbox{
    display:block;
  }
  .founderbox{
    display:block;
  }
  .alumnitop{
    display:block;
  }
  .filtercontainer{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .firstformbox{
    height:60vh;
  }
  .founderimg{
    width:70vw;
    height:100vh;
    margin:auto;
  }
  .yes{
    margin-top:4vh;
    margin-left:-1.5vw;
  }
  /* .none{
    display:none;
  } */
  .inputcontainer{
    display:none;
  }
  .filterbox{
    margin-top:-5vh;
    width:27vw;
  }
  .buttonpos{
    justify-content:center;
    margin-left:40vw;
  }
  .courseimg{
    display:none;
  }
  .categorybox{
    margin:2rem 3rem;
  }
  .coursebox{
    /* display:flex;
    justify-content: center; */
    display:none;
  }
  .otp{
    display:block;
  } 
  .phonewidth{
    width:65%;
  }
  .side1{
    height:auto;
  }
  .otppos{
    margin-left:-1em;
    margin-top:-2vh;
  }
}
@media screen and (max-width:800px) {
  .headerpos{
    display:block;
  }
  .cards-container{
    &::-webkit-scrollbar{
      display:block;
    }
  }
  .adjust{
    width:100%;
  }
  .displayprofile{
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .cardslide{
    height:60vh;
  }
  .categorybox{
    margin:2rem auto;
  }
  .headingBox{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
  }
  .leftmargin{
    margin-left: 4rem;
  }
  .rightmargin{
    margin-right: 4rem;
  }
  .resumedatabox{
    width:100%;
  }
  .startup{
    display: flex;
    flex-direction: column;
  }
  .mobilepara{
    width:80vw;
  }
  .phonewidth{
    width:100%;
  }
  .firstformbox{
    display:none;
  }
  .headerformbox{
    width:auto;
  }
  .milestones{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   }
  .formpos{
    margin-top:8vh;
    margin-left:0;
    margin-bottom:8vh;
  }
  .appbox{
    margin:auto;
    justify-items: center;
  }
  .inputbox{
    width:84vw;
  }
  .hide{
    display:none;
  }
  .inputcontainer{
    margin:3rem auto;
  }
  .none{
    display:none;
  }
  .giphy{
    display:block;
    margin:5vh auto 15vh auto;
    width:60%;
  }
  .question{
    padding:0.2rem 1rem;
    margin:auto 2rem;
    text-align:left;
    min-width:75%;
    width:fit-content;
  }
  .options{
    padding:0.5rem 2rem;
    margin:0 2rem 0.5rem 2rem;
    text-align: left;
    width:40%;
  }
  .result{
    padding:0.5rem 2.5rem;
    margin:0.5rem 2rem;
    text-align: left;
    width:40%;
  }
  .jobpos{
    margin:3rem auto;
    text-align: center;
  }
  .main-content{
    display:block;
  }
  .alumnicardcontainer{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }
  .arrange{
    margin-left:0;
    margin-top:-3vh;
    padding:10px 5px;
  }
  .filterbox{
    margin:-15vh auto 10vh auto;
    width:80vw;
  }
  .btn4{
    margin-top:12vh;
  }
  /* .btn2,.btn3{
    text-align:center;
    margin-left:1vh;
  } */
  .buttonpos{
    text-align: center;
    margin: 6vh auto;
  }
  .block{
    display:none;
  }
  .area{
    margin:0 auto;
  }
  .coursebox{
    display:none;
  }
  .side2{
    display:none;
  }
  .wrap{
    gap:20px;
  }
  .hrjobs{
    padding:40px 7px;
    border-radius:10px;
    /* background-color: rgb(12, 154, 201); */
  }
  .side1{
    width:70vw;
    border-radius:22px;
    height:auto;
  }
  .otp{
    display:block;
  }
  .main-login{
    width:fit-content;
  }
}
@media screen and (max-width:570px) {
  .founderimg{
    width:90vw;
    height:70vh;
  }
  .message{
    margin-left: 0rem;
  }
  .achievementbox{
    height:65vh;
  }
  .milestones{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
   }
   .leftmargin{
    margin-left: 1rem;
   }
   .rightmargin{
    margin-right: 1rem;
   }
   .slideshow {
    margin:5vh auto 8vh auto;
   }
   .datamile1,.datamile2{
    width:10.5rem;
   }
   .giphy{
    width:80%;
   }
   .arrange{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .question{
    padding:0.2rem 1rem;
    margin:auto;
    text-align:center;
    width:96%;
  }
  .options{
    padding:0.5rem 2rem;
    margin:0.2rem auto;
    text-align:center;
    width:96%;
  }
  .result{
    padding:0.5rem 2.5rem;
    margin:0.5rem auto;
    text-align:center;
    width:90%;
  }
  .appbox{
    display:flex;
    margin:auto;
    flex-direction:column;
    align-items:center;
    justify-content: center;
  }
  .mobilepara{
    width:95vw;
  }
  .box9,.box8,.box7,.box6{
    margin:auto;
    width:60vw;
  }
}
@media screen and (max-width:350px) {
  .inputbox{
    width:98%;
  }
  .giphy{
    width:90vw;
  }
  .filterbox{
    width:85vw;
  }
}
.wave{
  position: absolute;
  bottom:60;
  left:0;
  width: 100.7%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}
.menu1{
  margin:0 1vw;
  font-family: 'Ubuntu', sans-serif;
 }
 .menu2{
   margin:0 1vw;
   font-family: 'Ubuntu', sans-serif;
 }
 .menu3{
   margin:0 1vw;
   font-family: 'Ubuntu', sans-serif;
 }
 .text{
  font-family: 'Ubuntu', sans-serif;
 }
 .textnew{
  font-family: 'Poppins', sans-serif;
}
 .btn7{
  padding:10px 20px;
  color:white;
  border-radius:8px;
  font-family: 'Ubuntu', sans-serif;
 }
 .btn8{
  padding:6px 20px;
  color:white;
  border-radius:8px;
 }
 .btn9{
  padding:8px 20px;
  color:white;
  border-radius:8px;
  float:right;
  font-size:14px;
  margin-top:2em;
 }
.containercontact {
	background-color:white;
	border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  min-width:355px;
}

.h2contact {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color:deepskyblue;
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color:white;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
  color:white;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:80%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  width:85%;
  text-align:center;
  line-height:22px;
}

.inputcontact,.textareacontact {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

.inputcontact:focus,.textareacontact:focus{
  outline:1px solid teal;
}

.buttoncontact {
	border-radius: 20px;
	background-color:deepskyblue;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

.buttoncontact:hover {
  opacity:0.8;
}
@media only screen and (max-width: 600px) {
  .form-container {
    display:flex;
    flex-direction: column;
  }
  .left-inner-container{
    padding:3rem;
  }
  .right-container{
   padding:1rem 0;
  }
}
/* .landing_page * {
  font-family: Nunito, sans-serif;
}

.landing_page .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.landing_page .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.landing_page .responsive-cell-block {
  min-height: 75px;
}

.landing_page .responsive-container-block.container {
  max-width: 1320px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  position: relative;
}

.landing_page .form-box {
  background-color: #151617;
  color: white;
  padding-top: 35px;
  padding-right: 33px;
  padding-bottom: 35px;
  padding-left: 33px;
  max-width: 506px;
}

.landing_page .text-blk.contactus-head {
  font-size: 30px;
  line-height: 40px;
}

.landing_page .text-blk.contactus-subhead {
  color: #d4d4d4;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-left: 0px;
}

.landing_page .input {
  width: 130%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  padding-top: 1px;
  padding-right: 125px;
  padding-bottom: 1px;
  padding-left: 22.5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: #212223;
  padding: 1px 12.5px 1px 22.5px;
}

.landing_page .textinput {
  width: 183%;
  height: 120px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 18px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  background-color: #212223;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.landing_page .submit-btn {
  width: 100%;
  height: 56px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #146132;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #146132;
  border-right-color: #146132;
  border-bottom-color: #146132;
  border-left-color: #146132;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.email {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.landing_page .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
  display: flex;
  justify-content: center;
}

.landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.landing_page .text-blk.section-subhead {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 420px;
  font-size: 18px;
  color: #b6b6b6;
}

.landing_page .text-blk.section-head {
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  max-width: 450px;
}

.landing_page .icons-container {
  max-width: 450px;
  display: flex;
  justify-content:center;
  margin-left: -2vw;
  margin-bottom: 4vh;
}
.share-icon{
  margin-right:4vw;
  cursor: pointer;
}
.landing_page .img {
  width: 31px;
  height: 31px;
}

.landing_page .responsive-container-block.big-container {
  background-color: black;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  position: relative;
}

.landing_page .bg-img {
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
}
@media (max-width: 1292px) {
  .contactdetails{
    text-align:center;
    margin-top:5vh;
  }
}
@media (max-width: 768px) {
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    justify-content: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .landing_page .textinput {
    width:140%;
  }
  .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 500px) {
  .landing_page .text-blk.section-head {
    font-size: 26px;
    line-height: 40px;
  }
  .landing_page .textinput {
    width:120%;
  }
  .landing_page .input {
    width:100%;
  }

  .landing_page .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .landing_page .text-blk.section-subhead {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 16px;
  }

  .landing_page .form-box {
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
  }

  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    margin: 0 0 30px 0;
  }

  .landing_page .input {
    height: 45px;
  }

  .landing_page .text-blk.contactus-head {
    font-size: 24px;
    line-height: 34px;
  }
} */
/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full bg-gray-800 py-2 px-7 text-white transition-all hover:bg-white hover:text-gray-600 hover:border-gray-600 text-center text-sm font-inter flex items-center justify-center;
}

.black_btn2 {
  @apply rounded-none border border-black bg-black py-2.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-base font-inter flex items-center justify-center;
}
.outline_btn {
  @apply rounded-full bg-transparent py-2 px-7 text-black transition-all hover:bg-gray-800 hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}
.secondary_text {
    @apply mt-5 text-3xl font-bold leading-[0.75] text-black sm:text-4xl;
}
.heading_text {
  @apply text-xl font-bold leading-[0.55] text-black sm:text-2xl;
}
.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}