@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400&display=swap');
.content{
  background-color: #2b2e32;
  color:#0CAFFF;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  width:90vw;
  padding:2em 2em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 5em 2em 0;
}
.container{
  padding-bottom:0.3em;
}
.heading{
  padding:1em 1em 1em 6em;
  font-size:19px;
  font-weight:bold;
  color:#0CAFFF;
}
.mainbox{
  display:flex;
}
.box{
  padding:1em 0;
  display:flex;
  background:rgb(27, 26, 26);
  margin:3em 0 0 0;
}
.btn1{
  background-color:#0CAFFF;
  color:white;
  margin-left:7em;
  margin-bottom:2em;
  padding:0.5em 1em;
  border-radius:10px;
}
.btn5{
  background-color:#0CAFFF;
  color:white;
  margin-left:3em;
  margin-bottom:2em;
  padding:0.5em 1em;
  border-radius:10px;
}
.image{
  margin:auto 10vw auto 10vw;
  height:55vh;
  width:30vw;
}
.image1{
  margin:auto 0 auto 10vw;
  height:55vh;
  width:30vw;
}
.btn1:hover{
  background-color:white;
  color:#0CAFFF;
  outline:2px solid #0CAFFF;
}
.box1{
  display:grid;
  margin:3em;
  color:#555d50;
  grid-template-columns:repeat(2,1fr);
  font-family: 'Ubuntu', sans-serif;
}
.heading1{
  color:#0CAFFF;
  font-size:1.5em;
  text-align:center;
}
.videos{
  display:flex;
  
}
.frame1{
  margin:auto;
  height:35vh;
  width:30vw;
}
.frame2{
  margin:auto;
  height:35vh;
  width:30vw;
}
.video1{
  background-color:#0CAFFF;
  padding:2em;
  width:50%;
}
.video2{
  background-color:#0076CE;
  padding:2em;
  width:50%;
}
.partnerpara{
  color:white;
  font-size:16px;
  margin-left:7rem;
  width:75%;
  padding-bottom:1.5rem;
}
.partnerpara5{
  color:white;
  font-size:14px;
  margin-left:3rem;
  width:50%;
  padding-bottom:1.5rem;
}
.task1,.task2,.task3,.task4{
  margin:auto;
  width:25vw;
  padding:3em 2em;
  border-radius:20px;
  color:white;
}
.task1{
  background-color:#002244;
  margin-top:5em;
  border-top:6px solid #00BFFF;
  border-left:6px solid #00BFFF;
}
.task2{
  background-color:#002244;
  margin-top:5em;
  border-top:6px solid #00BFFF;
  border-left:6px solid #00BFFF;
}
.task3{
  background-color:#002244;
  margin-top:5em;
  border-top:6px solid #00BFFF;
  border-left:6px solid #00BFFF;
}
.task4{
  background-color:#002244;
  margin-top:5em;
  border-top:6px solid #00BFFF;
  border-left:6px solid #00BFFF;
}
.circle{
  background-image:linear-gradient(to bottom right,white,#1E90FF);
  color:white;
  height:9vh;
  width:4vw;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50px;
  margin:-12vh auto 3vh auto;
}
.grid{
  width:80vw;
  margin:3em auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
}
.pol1,.pol2,.pol3,.pol4,.pol5,.pol6,.pol7,.pol8,.pol9{
  width:25vw;
  margin-bottom:3em;
  padding:2em 3em;
  border-radius:20px;
  font-size:17px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#041E42;
  color:white;
  border-top:4px solid #00BFFF;
  border-left:4px solid #00BFFF;
}
.head{
  font-size:28px;
  color:#012169;
  margin-left:10vw;
  margin-top:8vh;
  font-family: 'Ubuntu', sans-serif;
}
.subhead{
  color:#0CAFFF;
  padding:0 1em 0 2.8em;
  font-size:2.5em;
  margin-bottom:2vh;
}
.subhead1{
  color:#0CAFFF;
  padding:0 1em 0 1em;
  font-size:2.5em;
  margin-bottom:2vh;
}
.enroll{
  width:50vw;
  color:#0CAFFF;
  font-size:1.4em;
  padding:0 1em 0 5.1em;
  margin-bottom:3vh;
}
.groupimg{
  margin:auto 0 auto 10vw;
  height:55vh;
  width:30vw;
}
.desc{
  padding:1em 0;
  background:#00BFFF;
  color:black;
  margin:3em 0 0 0;
}
.name{
  color:#1F305E;
  font-weight:bold;
  display:inline-block;
  justify-content:center;
  font-size:1.1em;
  margin-left:15vw;
}
.value{
  display:flex;
  width:70vw;
  font-size:1em;
  color:white;
  margin-left:19vw;
  margin-bottom:1vh;
}
.list{
  list-style:none;
}
.groupimg1{
  margin:auto 0 auto 10vw;
  height:60vh;
  width:33vw;
}
.groupimg2{
  margin:auto 0 auto 10vw;
  height:50vh;
  width:28vw;
}
.resumegroup{
  display:flex;
  color:white;
}
.resume1{
  margin:0 auto 2vh auto;
  width:17vw;
  background-color:#0CAFFF;
  padding:2em 1em;
  border-radius:20px;
}
.groupimg4{
  margin:auto 0 auto 5vw;
  height:65vh;
  width:38vw;
}
.digitalgrid{
  margin:3vh 0;
  display:grid;
  grid-template-columns:repeat(3,1fr)
}
.digitalbox{
  font-size:20px;
  width:27vw;
  background-color:white;
  color:#0CAFFF;
  font-weight:bold;
  margin:3vh auto;
  padding:2em;
  border-radius:20px;
}
.logo{
  margin:auto 0 auto 6vw;
}
.light{
   color:#0CAFFF;
}
.values{
  padding:1em 0;
  margin:3em 0 0 0;
}
.sizing{
  margin-top:0.2em;
  text-align:center;
  font-size:38px;
  color:#0CAFFF;
  font-weight:bold;
}
.contain3{
  padding:2em;
  background: rgba(160, 106, 174, 0.92);
  border-radius: 51px;
  width:20vw;
  display:flex;
  border-top-left-radius:40px;
  border-bottom-right-radius:40px;
  margin: 5vh 2vw;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.contain1{
  padding:2em;
  background: rgba(131, 215, 139, 0.44);
  border-radius: 51px;
  width:20vw;
  display:flex;
  margin: 5vh 2vw;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.contain2{
  padding:2em;
  background: rgba(131, 139, 215, 0.44);
  border-radius: 51px;
  width:20vw;
  display:flex;
  border-top-left-radius:40px;
  border-bottom-right-radius:40px;
  margin: 5vh 2vw;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.core{
  display:flex;
  justify-content: center;
}
.list1{
  list-style:none;
  font-weight:500;
}
.para{
  padding:1em 1em 0 4.5em;
  font-size:16px;
  color:#0CAFFF;
}
.founderimg{
  margin:auto 5vw;
  height:90vh;
  width:35vw;
}
.headingfounder{
  padding:1em 1em 0 2.3em;
  font-size:32px;
  font-weight:bold;
  color:white;
}
.certificate{
  margin:auto;
}
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }

@media screen and (max-width:1180px){
  .videos{
    display:flex;
    flex-direction:column
  }
  .founderimg,.groupimg4{
    width:45vw;
  }
  .resumegroup{
    display:block;
  }
  .resume1{
    width:80vw;
    margin-bottom:4vh;
    text-align:center;
  }
  .heading{
   padding:1em 1em 1em 4em; 
  }
  .subhead{
     padding:0 1em 0 2em;
  }
  .partnerpara{
    margin-left:4rem;
  }
  .headingfounder{
   padding:1em 1em 0 1em; 
  }
  .para{
     padding:1em 1em 0 2em;
  }
  .frame1,.frame2{
    width:70vw;
    height:50vh;
  }
  .grid{
    grid-template-columns:repeat(2,1fr);
    gap:5vw;
  }
  .pol1,.pol2,.pol3,.pol4,.pol5,.pol6,.pol7,.pol8,.pol9{
    width:40vw;
  }
  .video1,.video2{
    width:100%;
  }
  .box1{
    display:block;
    margin:5em 3em 3em 3em;
  }
  .task1,.task2,.task3,.task4{
    width:80vw;
  }
  .task1,.task2,.task3,.task4{
    margin-top:7em;
  }
  .circle{
    width:10vw;
    height:7vh;
    margin:-10vh auto 3vh auto;
  }
}
@media screen and (max-width:700px){
  .box{
    flex-direction:column;
  }
  .box1{
    margin:3em 0;
  }
  .grid{
    display:block;
  }
  .pol1,.pol2,.pol3,.pol4,.pol5,.pol6,.pol7,.pol8,.pol9{
    width:80vw;
  }
  .image,.image1{
    margin:2vh auto;
    width:70vw;
  }
  .video1,.video2{
    padding:0 0 3vh 0;
  }
  .frame1,.frame2{
    width:100vw;
    height:50vh;
  }
  .task1,.task2,.task3,.task4{
    width:80vw;
    text-align:center;
  }
  .heading{
    padding:1em 1em 0.5em 2.2em;
  }
  .partnerpara{
    margin-left:2.5rem;
    width:80%;
  }
  .btn1{
    margin-left:2.5em;
  }
  .circle{
    width:12vw;
    height:6vh;
    margin:-10vh auto 3vh auto;
  }
  .founderimg{
  margin:auto;
  height:90vh;
  width:90vw;
  }
  .core{
    display:block;
  }
  .contain1,.contain2,.contain3{
    width:80vw;
  }
  .groupimg4,.groupimg1,.groupimg2,.groupimg{
  margin:auto;
  height:65vh;
  width:90vw;
  }
  .enroll{
    padding:0 1em 0 1.8em;
    width:90vw
  }
  .logo{
  margin:auto 0 auto 9vw;
  }
  .subhead{
  padding:0 1em 0 1.3em;
  }
  .digitalgrid{
    display:block;
  }
  .digitalbox{
    width:80vw;
  }
}
.courseimage{
  margin:10vh auto;
  height:50vh;
}