.textform {
  font-family: "Inter", sans-serif;
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #2390f7 0%,
    #f40dcd 29%,
    #edf75c 67%,
    #63bef7 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@media screen and (max-width: 1130px) {
  .showmobile {
    display: block;
  }
  .coursebox {
    /* display:flex;
    justify-content: center; */
    display: none;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.showmobile {
  display: none;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.text {
  font-family: "Ubuntu", sans-serif;
}

.coursebox {
  margin-top: 1vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .coursebox {
    display: none;
  }

  .showmobile {
    display: block;
  }
}

.textform {
  font-family: "Inter", sans-serif;
}
